*{
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.navbar h1{
  color: purple;
}
.links a{
  text-decoration: none;
  background-color: purple;
  color: white;
  font-size: 18px;
  padding: 8px 12px;
  margin: 10px;
  border-radius: 10px;
}
.contents{
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage{
  text-align: center;
}
.blog-contents:hover{
  box-shadow: 0 2px 5px -2px rgb(71, 69, 69);
}
.blog-contents h2{
  color: red;
}
.blog-contents a{
  text-decoration: none;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  min-width: 600px;
}
.form-inputs label{
  text-align: start;
  margin: 15px 0 0 0;
}
.form-inputs button{
  color: white;
  background-color: red;
  width: fit-content;
  margin: 15px auto;
  font-size: 20px;
  border-radius: 10px;
}
